<p id="notice"><%= notice %></p>

<ul class="nav navbar-nav navbar-right">
  <li class="navbar-form navbar-left" role="search">
    <%= text_field_tag 'search_box', nil, placeholder: "Search" %>
  </li>
</ul>

<% if current_user %>
    <h3>Welcome, <%= link_to current_user.name, current_user %></h3>
    <h3>My Routes</h3>
    <%= react_component "RouteList", url: "/users/#{current_user.id}/routes", pollInterval: 5000 %>
    <p>
      <%= link_to "See all", user_routes_path(current_user) %> | 
      <%= link_to "All routes", routes_path %>
    </p>

    <h3>My Projects</h3>

    <table>
      <thead>
        <tr>
          <th>Route</th>
          <th>Grade</th>
          <th>Status</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% current_user.projects.limit(5).each do |project| %>
          <tr>
            <td><%= link_to project.route.name, project %></td>
            <td><%= link_to project.grade.name, project.grade %></td>
            <td><%= project.status %></td>
            <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p><%= link_to "See more", user_projects_path(current_user) %></p>

    <h3>My Comments</h3>
    <table>
        <tr>
            <th>Body</th>
            <th>Route</th>
            <th></th>
        </tr>
        <% current_user.comments.limit(5).each do |comment| %>
            <tr>
                <td><%= comment.body.truncate(30) %></td>
                <td><%= link_to comment.route.name, comment.route %></td>
                <td><%= link_to 'Destroy', destroy_user_comment_path(current_user, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
             </tr>
        <% end %>
    </table>
    <p><%= link_to "See more", user_comments_path(current_user) %></p>
    
<% end %>

<!-- Logic for search box -->

<script type="text/javascript">

  $(function() {
    
    $('#search_box').autocomplete({
      minLength: 2,
      source: '<%= routes_search_path(:json) %>',

      focus: function(event, ui) {
        $('#search_box').val(ui.item.value);
        return false;
      },

      select: function(event, ui) {
        $('#search_box').val(ui.item.value);
        $('#link_origin_id').val(ui.item.id);
        return false;
      }}).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
        console.log(item);
        return $("<li></li>")
          .data( "autocomplete-item", item )
          .append("<div>" +
            "<a href=" + item.url + ">" + item.value + " (" + item.grade + ")" + "</a>" +
            "</div>")
          .appendTo( ul );
    };
  });
</script>