<p id="notice"><%= notice %></p>

<% if current_user %>
	<h3><%= "Welcome, #{current_user.name}" %></h3>
	<%= link_to "My Projects", projects_path %> | 
	<%= link_to "My Comments", user_comments_path(current_user.id) %> | 
  	<%= link_to "All Routes", routes_path %>
<% end %>