<p id="notice"><%= notice %></p>

<h3>My Routes</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Grade</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= link_to route.name, route %>
        <td><%= link_to route.grade.name, route.grade %>
        <td><%= route.created_at %></td>
        <% if current_user == route.owner %>
          <td><%= link_to "Delete", destroy_user_route_path(current_user, route), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
