<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Route</th>
      <th>Grade</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.route.name, project.route %></td>
        <td><%= link_to project.grade.name, project.grade %></td>
        <td><%= project.status %></td>
        <td><%= link_to 'Show', project %></td>
        <% if project.active? %>
          <td><%= link_to 'Complete', project_path(
                    project.id, project: {
                      id: project.id,
                      status: "complete"
                    }),
                  method: :put %></td>
        <% else %>
          <td><%= link_to 'Uncomplete', project_path(
                    project.id, project: {
                      id: project.id,
                      status: "active"
                    }),
                  method: :put %></td>
        <% end %>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
