<p id="notice"><%= notice %></p>

<h3>My Comments</h3>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= link_to comment.route.name, comment.route %>
        <td><%= comment.created_at %></td>
        <% if current_user == comment.user %>
          <td><%= link_to "Delete", destroy_user_comment_path(current_user, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
